// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// body{
//     background-color: aqua;
//     .card-header{
//         background-color: $orange;
//     }
// }
